{% extends "layout.html" %}
{% block title_page %} Book Reviews {% endblock %}

{% block body %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span class="navbar-brand ">Welcome to Book Reviews</span>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mr-auto">

        </div>


        <form class="form-inline mt-2 mt-md-0" action="/verify" method="POST">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required>
            <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Log In</button>
        </form>
    </div>
</nav>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="col-6">Sign Up</h2>

            <div class="col-6">
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Desired Username" name="firstName" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="lastName" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>


    </div>
</div>

<div class="container">

</div> <!-- /container -->

<footer class="footer">
    <div class="container">
        <span class="text-muted">By Oscar Morales</span>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


{% endblock %}