<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Reviews</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>A book review website!</h1>

    <div class="row">
        <h3 class="col"> Please Register</h3>
        <form action="/register" class="col" method="POST">
            Username: <input type="text" name="firstName" value="Enter a Value"><br>
            Password: <input type="text" name="lastName" value="Enter a Value"><br>
            <input type="submit" value="Submit">
        </form>

    </div>

    <div class="row">
        <h3 class="col"> Log In</h3>
        <form action="/verify" class="col" method="POST">
            Username: <input type="text" name="username" value="placeholder"><br>
            Password: <input type="text" name="password" value="placeholder"><br>
            <input type="submit" value="Submit">
        </form>

    </div>

    <div class="row">
        <form action="/logout" class="col" method="POST">
            <button type="submit">Log-out and confirm</button>
        </form>

    </div>


</div>


</body>
</html>